!!! 5
%html
  %head
    %title OneSignature.org
    %link{ rel: 'stylesheet', href: '/stylesheets/bootstrap.min.css', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Homemade+Apple', rel: 'stylesheet', type: 'text/css'}
    :css
      body {
        background-color: #fff;
      }

      .header {
         padding: 1em 0;
      }

      .header-container-full-bleed {
        background-color: rgba(255, 255, 255, 0.8);
      }

      .logo a {
        color: #000;
      }

      .logo-one, .logo-dotorg {
        font-size: 1.5em;
        font-weight: lighter;
        font-variant: small-caps;
        letter-spacing: 3px;
      }

      .logo-signature {
        font-size: 1.8em;
        font-family: 'Homemade Apple', cursive;
        font-variant: normal;
        letter-spacing: normal;
        margin-left: 10px;
      }

      .homepage-petition {
        margin-bottom: 5em;
      }

      .header-create-petition {
        font-variant: small-caps;
        float: right;
      }

      /* mobile displays a "petition card" instead of the separate things */
      .homepage-petition-card {
        min-height: 300px;
        background-size: cover;
        background-position: center center;
        position: relative;
      }

      .homepage-petition-card .homepage-petition-title {
        background-color: rgba(255, 255, 255, .5);
        width: 100%;
      }

      .homepage-petition-card .homepage-petition-description {
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        padding: 1em;
      }

      .homepage-petition-image {
        margin-bottom: 2em;
      }

      .homepage-petition-title {
        font-size: 48px;
        font-variant: small-caps;
        letter-spacing: 2px;
        text-align: center;
      }
      .homepage-petition-description {
      }

      /* petition show page */
      .petition-header-full-bleed {
        min-height: 400px;
        background-size: cover;
        background-position: center center;
        position: relative;
      }

      .petition-header-title {
        position: absolute;
        bottom: 1em;
      }

      .petition-header-title h1 {
        background-color: #000;
        padding: 7px 15px;
        line-height: 1.2em;
        color: #FFF;
      }

  %body
    - header = capture_haml do
      .container
        %header.header.row
          .col-xs-6
            .logo
              %a{ href: '/' }
                %span.logo-one> One
                %span.logo-signature> Signature
                %span.logo-dotorg> .org
          .col-xs-6
            %a.header-create-petition{ href: '/new' }
              %i.glyphicon.glyphicon-plus
              Create a Petition

    - body = capture_haml do
      .container
        .row
          .col-xs-12
            = yield

    - if defined? petition
      .petition-header-full-bleed{ style: "background-image: url(#{petition.cover_photo.url});" }
        .header-container-full-bleed
          = header
        .container
          .row.petition-header-title
            .col-sm-10.col-sm-offset-2
              %h1= petition.title
      = body
    - else
      = header
      = body
